#about {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

#history-summary{
    line-height: 1.8em;
}

#about-img {
    width: 75%;
}

#about-img-container {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) { 
    #about-img-container {
        justify-content: center;
    }
}