#about {
    display: flex;
    flex-direction: column;
    background-color: #284737;
    color: #FEF6E1;
    padding: 50px 0px;
}

#history-summary{
    line-height: 1.8em;
}

#about-img {
    width: 75%;
}

#about-img-container {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) { 
    #about-img-container {
        justify-content: center;
    }
}