#banner {
    background-color: #284737;
    color: #FEF6E1;
    border: 1px solid #FEF6E1;
}

#banner-section {
    padding: 5% 15%;
    flex-direction: column;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#banner-image-container {
    width: 100%;
    height: 50em;
    background-image: url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-title {
    color: #FFCD07;
    font-size: 5em;
    font-weight: 600;
}

@media (max-width: 800px) { 
    #location-section {
        padding-left: 0px;
    }
    #banner-title {
        font-size: 3em;
    }
    #banner-image-container {
        height: 25em;
    }
}