#location {
    background-color: #284737;;
    color: #FEF6E1;
    border: 1px solid #FEF6E1;
}

#location-section {
    padding-left: 130px;
}

#location-box {
    border: 1px solid #FEF6E1;
    color: #FEF6E1;
    padding: 5px;
    width: 70%;
}

#location-box:hover {
    background-color: #182c22;
}

#location-image-container {
    width: 100%;
    background-image: url(../img/location-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 800px) { 
    #location-section {
        padding-left: 0px;
    }
}