#navbar {
    background-color: #284737;
    position: sticky;
}

#logo {
    width: 150px;
    color: #FEF6E1;
}

#navbar .nav-link{
    font-size: 20px;
    color: #FEF6E1;
    padding: 0px 20px 0px 20px;
}

@media (max-width: 800px) { 
    #logo {
        width: 150px;
    }
    #navbar .nav-link{
        font-size: 15px;
        padding: 20px 10px 10px 20px;
    }
}